body {
  background-color: #212020;
  color: #fff;
}

.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.container > h1 {
  margin-bottom: 40px;
}

.react-player__play-icon:hover {
  transition: all .4s;
  transform: scale(1.8);
}